// @import 'libs/font';
// @import 'libs/slick';
// @import 'libs/animate';
// @import 'base/variables';
// @import 'base/animations';

// @import 'base/media';


@import 'base/text';
@import 'base/mixins';


@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/menu';
@import 'blocks/exp';
@import 'blocks/use';
@import 'blocks/portfolio';

.container {
    max-width: 1140px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 0;
}

.line {
    height: 3px;
    width: 60px;
    background-color: black;
    margin-top: 4px;
}