// @import 'libs/font';
// @import 'libs/slick';
// @import 'libs/animate';
// @import 'base/variables';
// @import 'base/animations';

// @import 'base/media';


@import 'base/text';
@import 'base/mixins';


@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/menu';
@import 'blocks/exp';
@import 'blocks/use';
@import 'blocks/portfolio';
@import 'blocks/contact';

.container {
    max-width: 1140px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 0;
}

.line {
    height: 3px;
    width: 60px;
    background-color: black;
    margin-top: 4px;
    &_center {
        margin: 0 auto;
        margin-top: 4px;
    }
}

.circle {
    position: relative;
    padding-left: 13px;
    &:before {
        content: '';
        position: absolute;
        height: 36px;
        width: 36px;
        background-color: #FFA501;
        border-radius: 100%;
        top: -25%;
        left: 0;
        z-index: -1;
    }
}

.circle-center {
    margin-bottom: 6px;
    position: relative;
    @include before_circle;
}