// @import 'libs/font';
// @import 'libs/slick';
// @import 'libs/animate';
// @import 'base/variables';
// @import 'base/animations';

// * {
//     font-family: 'Museo Sans Cyrl', sans-serif;
// }


// @import 'blocks/promo';
// @import 'blocks/header';
// @import 'blocks/buttons';
// @import 'blocks/benefits';
// @import 'blocks/consultation';
// @import 'blocks/title';
// @import 'blocks/forms';
// @import 'blocks/carousel';
// @import 'blocks/catalog';
// @import 'blocks/footer';
// @import 'blocks/modal';
// @import 'blocks/pageup';
// @import 'base/media';

@import 'blocks/main';
@import 'blocks/about';

.container {
    max-width: 1140px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 0;
}