.about {
    min-height: 840px;
    padding: 120px;
    &__info {
        display: grid;
        grid-template-columns: 400px 570px;
        grid-template-rows: 300px 300px;
        gap: 68px;
        &-item {
            &:first-child{
                background: url('../img/photo_1.jpeg') center center/cover no-repeat;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 60px;
        color: #000000;
        margin-top: 6px;
    }
    &__line {
        height: 3px;
        width: 60px;
        background-color: black;
        margin-top: 4px;
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #000000;
        margin-top: 20px;
    }
}
