.consultation {
    min-height: 680px;
    background: url('../img/bg2.png') center (center/cover) no-repeat;
    padding: 103px 0 108px 0;
    &__discr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;

    }
    .error {
        border: 1px solid red;
        text-align: center;
        margin-bottom: 10px;
    }
    label.error {
        border: none;
        color: #FFFFFF;
    }
}