.exp {
    &__grid {
        padding: 60px 65px 120px 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 136px;
        &-item {
            padding-left: 50px;
        }
        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            position: relative;
            &:before {
                content: '';
                height: 15px;
                width: 15px;
                background-color: #000;
                position: absolute;
                border-radius: 100%;
                left: -50px;
                top: 8px;
            }
        }
        &-name {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            padding-left: 56px;
            padding-top: 45px;
            position: relative;
            &:before {
                content: '';
                height: 36px;
                width: 36px;
                border-radius: 100%;
                background-color: #FFA501;
                position: absolute;
                left: -2px;
            }
            &:after {
                content: '';
                height: 0.5px;
                width: 40px;
                background-color: #000;
                position: absolute;
                left: -42px;
                top: 62px;
            }
        }
        &-place {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 15px;
            padding-left: 56px;
        }
        &-content {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            padding-left: 56px;
        }
    }
    &__wrap {
        position: relative;
        &:before {
            content: '';
            height: calc(100% + 7px);
            width: 1px;
            background-color: #000;
            position: absolute;
            left: -42.5px;
            top: -7px;
        }
        &-img {
            position: absolute;
            top: 59px;
            left: 14px;
            z-index: 5;
        }
    }
}