.use {
    &__grid {
        padding: 60px 11px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto));
        gap: 13px;
        color: #000000;
        &-item {
            padding: 30px 30px 25px 30px;
            border: 1px solid black;
        }
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            margin-top: 20px;
        }
        &-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-top: 15px;
        }
    }
    &__scale {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        row-gap: 30px;
        column-gap: 45px;
        margin-bottom: 126px;
        &-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-titul {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            line-height: 21px;
        }
        &-text {
            font-weight: 700;
        }
        &-persent {
            font-weight: 500;
        }
        &-bord {
            height: 14px;
            background-color: #FFA501;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                height: 14px;
                width: 350px;
                background-color: #E8E4DE;
                z-index: -1;
            }
        }
    }
}