.use {
    &__grid {
        padding: 60px 11px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto));
        gap: 13px;
        color: #000000;
        &-item {
            padding: 30px 30px 25px 30px;
            border: 1px solid black;
        }
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            margin-top: 20px;
        }
        &-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-top: 15px;
        }
    }
}